$text: #333333;
$fogged: #5B5B5B;
$fogged-white: rgba(#fff, .7);
$primary: #058DCC;
$primary-light: #03C7F2;

$green: #1FA74A;
$green-light: #2CE466;
$violet: #AE2078;
$yellow: #F2E703;
$orange: #FFC163